<ul *ngIf="showNavigationList" class="third-step-level justify-content-between">
  <li class="stepper-label" *ngFor="let step of steps; let i=
                index" [ngClass]="{ active: selectedIndex === i }" (click)="selectedIndex= i">
    <span class="step-title">
      <span class="icon-title">
        <svg xmlns="http://www.w3.org/2000/svg" *ngIf="stateIcon(i) === 'done'" width="14" height="14"
          viewBox="0 0 14 14" [@slideInOut]>
          <g transform="translate(-184 -42)">
            <path class="colored-path" d="M7,0A7,7,0,1,1,0,7,7,7,0,0,1,7,0Z" transform="translate(184 42)" />
            <g transform="translate(186.837 45.87)">
              <path
                d="M-329.251,320.093l1.856-1.859q1.056-1.057,2.114-2.113a.831.831,0,0,1,1.114-.107.83.83,0,0,1,.141,1.194c-.039.047-.083.089-.126.133l-4.437,4.439a.845.845,0,0,1-1.333,0c-.662-.661-1.326-1.319-1.983-1.985a.827.827,0,0,1,.377-1.4.821.821,0,0,1,.817.248q.656.659,1.315,1.315C-329.354,320-329.309,320.039-329.251,320.093Z"
                transform="translate(332.161 -315.847)" fill="#fff" />
            </g>
          </g>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" *ngIf="stateIcon(i) === 'warning'" width="14" height="14"
          viewBox="0 0 14 14" [@slideInOut]>
          <g transform="translate(-87 -264)">
            <g transform="translate(-97 222)">
              <g transform="translate(184 42)" fill="#fff">
                <path
                  d="M 7 13.5 C 3.415889978408813 13.5 0.5 10.58411026000977 0.5 7 C 0.5 3.415889978408813 3.415889978408813 0.5 7 0.5 C 10.58411026000977 0.5 13.5 3.415889978408813 13.5 7 C 13.5 10.58411026000977 10.58411026000977 13.5 7 13.5 Z"
                  stroke="none" />
                <path class="colored-path"
                  d="M 7 1 C 3.691590309143066 1 1 3.691590309143066 1 7 C 1 10.30840969085693 3.691590309143066 13 7 13 C 10.30840969085693 13 13 10.30840969085693 13 7 C 13 3.691590309143066 10.30840969085693 1 7 1 M 7 0 C 10.86598968505859 0 14 3.134010314941406 14 7 C 14 10.86598968505859 10.86598968505859 14 7 14 C 3.134010314941406 14 0 10.86598968505859 0 7 C 0 3.134010314941406 3.134010314941406 0 7 0 Z"
                  stroke="none" fill="#d24554" />
              </g>
            </g>
            <path
              d="M1.481-3.634,1.3-7.438,1.269-8.71H2.563L2.518-7.438l-.178,3.8ZM1.916-1.1a.806.806,0,0,1-.591-.245.846.846,0,0,1-.245-.625A.846.846,0,0,1,1.324-2.6a.806.806,0,0,1,.591-.245.783.783,0,0,1,.591.245.868.868,0,0,1,.234.625.868.868,0,0,1-.234.625A.783.783,0,0,1,1.916-1.1Z"
              transform="translate(92.09 275.906)" fill="#e33550" />
          </g>
        </svg>
        <!-- Add svg if file is uploaded -->
        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="11.077" height="7.983">
          <g data-name="Component 287 – 3">
            <path fill="none" stroke="#EE3B45" stroke-linecap="round" stroke-width="2" d="m1.414 3.474 3.094 3.095 5.155-5.155"/>
          </g>
        </svg>  -->
         <!-- -------------------------- --> 
      </span>
      <ng-container *ngIf="step.stepLabel; else showLabelText" [ngTemplateOutlet]="step.stepLabel.template">
      </ng-container>
       <!-- <span class="uploaded"> test test </span> -->
      <ng-template #showLabelText>
        <span [ngClass]="{ validated: stateIcon(i) === 'done' }">
          {{ step.label }}
        </span>
      </ng-template>
    </span>
  </li>
</ul>
<ng-template #stepBody>
  <div class="step-body">
    <div *ngIf="showIndicator" class="stepper-indicator">
      <div class="position-relative">
        <div class="stepper-indicator-text">
          <span>{{ currentStep }}/{{ stepsLength }}</span>
        </div>
        <mat-spinner mode="determinate" [value]="indicator" strokeWidth="2" diameter="90">
        </mat-spinner>
      </div>
    </div>
    <ng-container *ngIf="additionalActions" [ngTemplateOutlet]="additionalActions"></ng-container>
    <ng-container *ngIf="selected" [ngTemplateOutlet]="selected.content"></ng-container>
    <div class="stepper-content-navigation" *ngIf="showNavigationButtons">
      <button type="button" [disabled]="(isFirstStep() && disableFirstStepPreviousButton) || disableNavigation"
        (click)="isFirstStep()?onFirstPrevious():onPrevious()" class="default-btn">
        {{previousButtonLabel}}
      </button>

      <!-- Add button Extraire -->
      <div>
        <ng-content select="[rightAdditionalBtns]"></ng-content>
        <button type="button" *ngIf="!isLastStep();else doneButton" (click)="onNext()" [disabled]="disableNavigation"
          class="action-btn">
          {{ nextButtonLabel}}
        </button>
         <ng-container *ngIf="!isLastStep() && showDoneButton "      
         [ngTemplateOutlet]="doneButton"></ng-container>
      </div>
      <ng-template #doneButton>
        <button type="button" *ngIf="!hideLastStepDoneButton" (click)="onDone()"
          [disabled]="disabledDoneButton || disableNavigation" class="action-btn ml-3">
          {{ doneButtonLabel}}
        </button>
      </ng-template>
    </div>
    <div class="d-flex justify-content-end align-items-center"  *ngIf="showMessageInfo">
      <span class="span-info">
      {{messageInfoContent}}
     </span></div>
  </div>
</ng-template>
<div *ngIf="stepBodyWrapperClass;else stepBody" [class]="stepBodyWrapperClass">
  <div class="doc-step">
    <ng-container *ngIf="selected" [ngTemplateOutlet]="stepBody"></ng-container>
  </div>
</div>
